RewriteEngine on

# Do a redirect from all 13th domains to 13thparallel.com (for standardisation)
#RewriteCond %{HTTP_HOST} !^13thparallel.com
#RewriteRule ^(.*) http://13thparallel.com/$1 [R,L]

# Help pass on old URLs that use querystring to the interface.php file which will
#  then direct themaccordingly to the correct paths
RewriteCond %{QUERY_STRING} !^$
RewriteRule ^$ /interface.php?page=$1 [L]

# Pass all other content requests through to the interface
#RewriteRule ^links/actions/(.*)$ /links/index.php?a=$1 [QSA,L]
#RewriteRule ^links/actions/(.*)$ http://13.endoflow.com/interface.php?page=/links/&a=$1 [QSA,L]

# Forward requests to the handler
RewriteRule ^([^\.]*)$ /interface.php?page=$1 [R,L]
